:root {
    --button-color: green;
    --label-color: grey;
    --text-color: black;
    --invalid-red: red;
}

body {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

figure {
    margin: 0;
    padding: 0;
    width: 40%;
    flex: auto;

    img {
        height: 100%;
        width: 100%;
    }

    figcaption {
        height: 0;
        font-size: 12px;
        text-align: center;
        position: relative;
        bottom: 30px;
        color: var(--label-color);
    }
}

.credits,
figcaption {
    color: var(--label-color);
}

main {
    flex: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
}

main > * {
    flex-grow: 1;
    padding: 40px;
}

form {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.label-wrapper {
    max-width: 525px;
    display: flex;
    flex-wrap: wrap;
}

label {
    margin: 0.5rem 1rem;
}

.form-body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    height: calc(100% - 3rem);
}

label span {
    color: var(--label-color);
}

input {
    border-radius: 5px;

    &:invalid {
        border-color: var(--invalid-red);
    }
}

button {
    padding: 1rem 3rem;
    background-color: var(--button-color);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;

    &:hover {
        cursor: pointer;
    }
}

.change-form {
    color: var(--button-color);
    font-weight: bold;
    text-decoration: none;
}