:root {
    --button-color: #596D48;
    --input-border-color: #E5E7EB;
    --label-color: rgb(80, 80, 80);
    --text-color: rgb(40, 40, 40);
    --invalid-red: red;
    --selected: blue;
}

body {
    display: flex;
    height: 100vh;
    overflow: hidden;

    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

figure {
    margin: 0;
    padding: 0;
    width: 40%;
    flex: auto;

    img {
        height: 100%;
        width: 100%;
    }

    figcaption {
        height: 0;
        font-size: 12px;
        text-align: center;
        position: relative;
        bottom: 30px;
        color: var(--input-border-color);
    }
}

.credits,
figcaption {
    color: var(--input-border-color);
}

main {
    flex: auto;
    width: 60%;
}

main > * {
    padding: 40px;
}

.encouragement {
    margin-top: 10%;
    max-width: 525px;
}

form {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    padding-right: 0;
    padding-left: calc(40px - 1rem);
}

.form-title {
    margin-left: 1rem;
}

.label-wrapper {
    max-width: 525px;
    display: flex;
    flex-wrap: wrap;
}

label {
    margin: 0.5rem 1rem;
}

.form-body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    height: calc(100% - 3rem);
}

label span {
    color: var(--label-color);
    font-size: 0.8rem;
}

input {
    border-radius: 3px;
    border: solid var(--input-border-color) 1px;
}

input:focus {
    border-color: var(--selected);
}

button {
    padding: 1rem 3rem;
    background-color: var(--button-color);
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    border: none;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
}

.change-form {
    color: var(--button-color);
    font-weight: bold;
    text-decoration: none;
}

.error,
.error:focus {
    border-color: var(--invalid-red);
}